.warnings-container1 {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url("/daiki-webpage-background-1500w.png");
    background-position: center;
}

.warnings-text10 {
    display: inline-block;
}

.warnings-text11 {
    display: inline-block;
    text-decoration: none;
}

.warnings-text12 {
    display: inline-block;
}

.warnings-link1 {
    fill: var(--dl-color-theme-accent1);
    color: rgb(255, 255, 255);
    display: inline-block;
    text-decoration: none;
}

.warnings-text15 {
    display: inline-block;
    text-decoration: none;
}

.warnings-text16 {
    display: inline-block;
}

.warnings-text17 {
    display: inline-block;
    text-decoration: none;
}

.warnings-text18 {
    display: inline-block;
    text-decoration: none;
}

.warnings-text19 {
    display: inline-block;
    text-decoration: none;
}

.warnings-link2 {
    display: inline-block;
    text-decoration: none;
}

.warnings-text22 {
    display: inline-block;
}

.warnings-text23 {
    display: inline-block;
}

.warnings-text24 {
    display: inline-block;
}

.warnings-text25 {
    display: inline-block;
    text-decoration: none;
}

.warnings-text26 {
    display: inline-block;
    text-decoration: none;
}

.warnings-text27 {
    display: inline-block;
    text-decoration: none;
}

.warnings-container2 {
    flex: 0 0 auto;
    width: 85%;
    height: auto;
    display: flex;
    margin-top: 168px;
    align-items: flex-start;
    border-radius: 45px;
    margin-bottom: var(--dl-layout-space-threeunits);
    flex-direction: column;
    background-color: rgba(0, 9, 24, 0.95);
}

.warnings-container3 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    border-radius: 45px;
    animation-name: none;
    flex-direction: row;
    animation-delay: 0s;
    background-size: cover, auto;
    justify-content: center;
    background-image: radial-gradient(circle at center, rgba(0, 9, 24, 0.2) 0.00%, rgba(0, 9, 24, 0.2) 98.00%);
    background-repeat: repeat;
    animation-duration: 300ms;
    animation-direction: normal;
    background-position: bottom, center;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.warnings-container4 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-layout-space-unit);
    align-items: center;
    margin-left: var(--dl-layout-space-unit);
    margin-right: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-halfunit);
    flex-direction: column;
}

.warnings-text28 {
    fill: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-theme-neutral-light);
    font-size: 40px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: "Poppins";
    font-weight: 700;
}

.warnings-separator {
    width: 100%;
    height: 1px;
    background-color: #595959;
}

.warnings-container5 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 45px;
    animation-name: none;
    flex-direction: row;
    padding-bottom: var(--dl-layout-space-twounits);
    animation-delay: 0s;
    background-size: cover, auto;
    justify-content: center;
    background-image: radial-gradient(circle at center, rgba(0, 9, 24, 0.2) 0.00%, rgba(0, 9, 24, 0.2) 98.00%);
    background-repeat: repeat;
    animation-duration: 300ms;
    animation-direction: normal;
    background-position: bottom, center;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.warnings-container6 {
    flex: 0 0 auto;
    margin: var(--dl-layout-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.warnings-container7 {
    flex: 0 0 auto;
    width: var(--dl-layout-size-xxlarge);
    display: flex;
    overflow: auto;
    align-items: flex-start;
    flex-direction: column;
}

.warnings-text31 {
    fill: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-theme-neutral-light);
    align-self: center;
    margin-top: var(--dl-layout-space-halfunit);
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
}

.warnings-text34 {
    fill: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-theme-neutral-light);
    align-self: center;
    margin-top: var(--dl-layout-space-halfunit);
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
}

.warnings-text37 {
    fill: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-theme-neutral-light);
    align-self: center;
    margin-top: 4px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
}

.warnings-text40 {
    fill: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-theme-neutral-light);
    align-self: center;
    margin-top: 4px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
}

.warnings-content3 {
    fill: var(--dl-color-theme-secondary2);
    color: var(--dl-color-theme-secondary2);
    display: inline-block;
}

.warnings-link11 {
    fill: var(--dl-color-theme-secondary2);
    color: var(--dl-color-theme-secondary2);
    display: inline-block;
    text-decoration: none;
}

.warnings-text46 {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    display: inline-block;
}

.warnings-text47 {
    fill: var(--dl-color-theme-secondary2);
    color: var(--dl-color-theme-secondary2);
    display: inline-block;
    text-decoration: none;
}

.warnings-text48 {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    display: inline-block;
}

.warnings-text49 {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    display: inline-block;
}

.warnings-text50 {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    display: inline-block;
}

.warnings-text51 {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    display: inline-block;
}

.warnings-text52 {
    color: #132441;
    display: inline-block;
}

@media(max-width: 991px) {
    .warnings-text28 {
        font-size: 35px;
    }

    .warnings-container5 {
        height: auto;
        align-items: center;
        padding-top: var(--dl-layout-space-twounits);
        padding-bottom: var(--dl-layout-space-twounits);
    }

    .warnings-text31 {
        font-size: 20px;
    }

    .warnings-text34 {
        font-size: 20px;
    }

    .warnings-text37 {
        font-size: 20px;
    }

    .warnings-text40 {
        font-size: 20px;
    }
}

@media(max-width: 767px) {
    .warnings-container5 {
        align-self: center;
        align-items: center;
        flex-direction: column;
    }

    .warnings-container7 {
        margin-left: 0px;
    }

    .warnings-text31 {
        font-size: 25px;
    }

    .warnings-text34 {
        font-size: 25px;
    }

    .warnings-text37 {
        font-size: 25px;
    }

    .warnings-text40 {
        font-size: 25px;
    }
}

@media(max-width: 479px) {
    .warnings-container2 {
        background-color: rgba(0, 9, 24, 0.9);
    }

    .warnings-container3 {
        background-image: radial-gradient(circle at center, rgba(0, 9, 24, 0.6) 0.00%, rgba(0, 9, 24, 0.6) 100.00%);
        background-repeat: bottom;
    }

    .warnings-container5 {
        align-items: center;
        flex-direction: column;
        background-image: radial-gradient(circle at center, rgba(0, 9, 24, 0.6) 0.00%, rgba(0, 9, 24, 0.6) 100.00%);
    }

    .warnings-container6 {
        justify-content: center;
    }

    .warnings-container7 {
        margin-left: 0px;
    }

    .warnings-text31 {
        display: block;
        font-size: 18px;
    }

    .warnings-text34 {
        display: block;
        font-size: 18px;
    }

    .warnings-text37 {
        display: block;
        font-size: 18px;
    }

    .warnings-text40 {
        display: block;
        font-size: 18px;
    }
}