.dashboard-container1 {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url("/daiki-webpage-background-1500w.png");
    background-position: center;
}

.dashboard-text10 {
    display: inline-block;
}

.dashboard-link1 {
    fill: var(--dl-color-theme-accent1);
    color: rgb(255, 255, 255);
    display: inline-block;
    text-decoration: none;
}

.dashboard-link2 {
    display: inline-block;
    text-decoration: none;
}

.dashboard-text15 {
    display: inline-block;
    text-decoration: none;
}

.dashboard-text16 {
    display: inline-block;
    text-decoration: none;
}

.dashboard-text17 {
    display: inline-block;
}

.dashboard-text18 {
    display: inline-block;
}

.dashboard-text19 {
    display: inline-block;
}

.dashboard-text20 {
    display: inline-block;
}

.dashboard-text21 {
    display: inline-block;
}

.dashboard-text22 {
    display: inline-block;
    text-decoration: none;
}

.dashboard-text23 {
    display: inline-block;
    text-decoration: none;
}

.dashboard-text24 {
    display: inline-block;
    text-decoration: none;
}

.dashboard-text25 {
    display: inline-block;
    text-decoration: none;
}

.dashboard-container2 {
    flex: 0 0 auto;
    width: 85%;
    height: auto;
    display: flex;
    margin-top: 168px;
    align-items: flex-start;
    border-radius: 45px;
    margin-bottom: var(--dl-layout-space-threeunits);
    flex-direction: column;
    background-color: rgba(0, 9, 24, 0.95);
}

.dashboard-container3 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    border-radius: 45px;
    animation-name: none;
    flex-direction: row;
    animation-delay: 0s;
    background-size: cover, auto;
    justify-content: center;
    background-image: radial-gradient(circle at center, rgba(0, 9, 24, 0.2) 0.00%, rgba(0, 9, 24, 0.2) 98.00%);
    background-repeat: repeat;
    animation-duration: 300ms;
    animation-direction: normal;
    background-position: bottom, center;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.dashboard-container4 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-layout-space-unit);
    align-items: center;
    margin-left: var(--dl-layout-space-unit);
    margin-right: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-halfunit);
    flex-direction: column;
}

.dashboard-text26 {
    fill: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-theme-neutral-light);
    font-size: 40px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: "Poppins";
    font-weight: 700;
}

.dashboard-separator {
    width: 100%;
    height: 1px;
    background-color: #595959;
}

.dashboard-container5 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 400px;
    display: flex;
    align-items: flex-start;
    border-radius: 45px;
    animation-name: none;
    flex-direction: row;
    animation-delay: 0s;
    background-size: cover, auto;
    justify-content: center;
    background-image: radial-gradient(circle at center, rgba(0, 9, 24, 0.2) 0.00%, rgba(0, 9, 24, 0.2) 98.00%);
    background-repeat: repeat;
    animation-duration: 300ms;
    animation-direction: normal;
    background-position: bottom, center;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@media(max-width: 991px) {
    .dashboard-text26 {
        font-size: 35px;
    }
}

@media(max-width: 479px) {
    .dashboard-container2 {
        background-color: rgba(0, 9, 24, 0.9);
    }

    .dashboard-container3 {
        background-image: radial-gradient(circle at center, rgba(0, 9, 24, 0.6) 0.00%, rgba(0, 9, 24, 0.6) 100.00%), 7a0bfb67-99d1-4c36-9e8e-f37a12ce4f6f;
    }

    .dashboard-container5 {
        background-image: radial-gradient(circle at center, rgba(0, 9, 24, 0.6) 0.00%, rgba(0, 9, 24, 0.6) 100.00%), 7a0bfb67-99d1-4c36-9e8e-f37a12ce4f6f;
    }
}